@model BlogViewModel
@{
    ViewBag.FormAction = "/blog/manage";
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1050;">
        <div class="toast show align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    @successMessage
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

@Html.Partial("_FilterAndSearch", Model)

<div class="container py-5">
    <div class="row">
        @foreach (var blog in Model.PagedBlogs.Items)
        {
            <div class="card m-3 shadow" id="@blog.Id" style="width: 20rem; border-radius: 10px; padding: 0;">
                <img src="~/img/@blog.Image" class="card-img-top" alt="..."
                    style="border-top-left-radius: 10px; border-top-right-radius: 10px; width: 100%; max-height:50% ; object-fit: cover;">
                <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
                    <div>
                        <h5 class="card-title" style="font-weight: bold;">@blog.Title</h5>
                        <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            @blog.Description</p>
                    </div>
                    <div>
                        <a href="/blog/details/@blog.Url" class="btn btn-secondary me-2">İncele</a>
                        <a href="/blog/edit/@blog.Url" class="btn btn-secondary me-2">Güncelle</a>
                        <a href="/blog/delete/@blog.Url" class="btn btn-danger">Sil</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.PagedBlogs.Items.Count > 0)
{
    <br>
    <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.PagedBlogs.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link"
                        href="@Url.Action("List", new { pageNumber = Model.PagedBlogs.PageNumber - 1, pageSize = Model.PagedBlogs.PageSize, tagUrl = Model.SelectedTagUrl, searchString = Model.SearchString })">Previous</a>
                </li>
                @for (int i = 1; i <= Model.PagedBlogs.TotalPages; i++)
                {
                    <li class="page-item @(Model.PagedBlogs.PageNumber == i ? "active" : "")">
                        <a class="page-link"
                            href="@Url.Action("List", new { pageNumber = i, pageSize = Model.PagedBlogs.PageSize, tagUrl = Model.SelectedTagUrl, searchString = Model.SearchString })">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PagedBlogs.PageNumber == Model.PagedBlogs.TotalPages ? "disabled" : "")">
                    <a class="page-link"
                        href="@Url.Action("List", new { pageNumber = Model.PagedBlogs.PageNumber + 1, pageSize = Model.PagedBlogs.PageSize, tagUrl = Model.SelectedTagUrl, searchString = Model.SearchString })">Next</a>
                </li>
            </ul>
        </nav>
}
else
{
    <div class="alert alert-warning" role="alert">
        Hiç blog yok.
    </div>
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show())
    });
</script>